.about-page {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
    margin-top: 70px;  /* Ensure the content is below the fixed navbar */
  }
  
  .about-section {
    margin-bottom: 40px;
  }
  
  .about-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .about-column {
    flex: 1;
    padding: 10px;
    text-align: center;

  }
  
  .about-photo .about-image {
    width: 70%;
    height: 80%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .about-text h2,
  .about-description h3 {
    color: #A9A9A9; /* General header color */
    margin-bottom: 10px;
    text-align: center;

  }
  
  .about-text p {
    margin: 10px 0;
    text-align: justify;
  }
  
  .three-columns .placeholder {
    display: flex;
    align-items: center;
    text-align: center;
    color: #666;
    font-style: italic;
  }
  
  .skills-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
  }
  
  .skills-section h2 {
    text-align: center;
    color: #A9A9A9; /* General header color */
    margin-bottom: 20px;
  }
  
  .skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .skills-list li {
    background: #A9A9A9; /* Button color */
    color: #222;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .contact-cta {
    text-align: center;
    margin: 40px 0;
  }
  
  .contact-cta h2 {
    margin-bottom: 10px;
    color: #A9A9A9; /* Header color */
  }
  
  .cta-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #A9A9A9; /* Button color */
    color: #222;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #808080; /* Darker gray on hover */
  }
  /* ABOUT SECTION */
.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-containers {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: #A9A9A9;
    border-radius: 2rem;
    border: 0.1rem solid rgb(163, 163, 163);
    text-align: center;
}

.details-container img.icon {
    height: 3rem;
    margin-bottom: 1rem;
}

.details-container h3 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.details-container p {
    color: rgb(85, 85, 85);
    line-height: 1.5;
}

